body {
    color: #52596a;
    margin: 0;
}

body a {
    text-decoration: none!important;
}

.header .contenitore {
    height: 50px;
    vertical-align: middle;
}

.contenitore {
    position: relative;
    text-align: left;
    margin-right: auto;
    margin-left: auto;

}

.row {
    height: 46px;
    background-color: #fb6f71;
}

.small-row {
    height: 23px;
    background-color: #f4baba;
}

.logo {
    float: left;
}

.logo p {
    margin: 0;
    font-size: 2.5em;
}

.login {
    float: right;
}

.login p {
    margin: 0;
    line-height: 2;
}

.login a {
    margin: 0 4px;
    display: block;
    color: #fb6f71;
}

.btn-login {
    font-size: 1.5em;
}

.wrap-sub {
    margin-right: auto;
    margin-left: auto;

}

.contenitore,
.wrap-sub {
    width: 970px;
}

.sub-titolo {
    margin: 30px 0;
    color: #fb6f71;
}

.sub-img {
    margin-bottom: 20px;
}

.wrap-sub-left-buttom {
    display: flex;
    justify-content: flex-start;
}

.wrap-sub-left-buttom p {
    margin: 0 0 10px;
}

.left-buttom-left {
    font-weight: 600;
    float: left;
    width: 20%;
}

.left-buttom-right {
    float: right;
    color: #fb6f71;
}

